<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<deployment>
    <cluster sitesperhost="{{ sites_per_host | default(12, true) }}" kfactor="{{ k_factor | default(1, true) }}"/>
    <partition-detection/>
    <heartbeat/>
    <ssl/>

    <httpd enabled="{{ httpd_enabled | default('true', true)  }}">
        <jsonapi enabled="true"/>
    </httpd>
    <snapshot enabled="{{ snapshot_enabled | default('true', true)  }}"/>
    <commandlog enabled="{{ commandlog_enabled | default('true', true)  }}" logsize="{{ cmdlog_size | default(10240, true) }}">
        <frequency/>
    </commandlog>
    <systemsettings>
        <temptables/>
        <snapshot/>
        <elastic/>
        <query/>
        <procedure/>
        <resourcemonitor>
            <memorylimit/>
        </resourcemonitor>
    </systemsettings>
    <security/>
</deployment>
